{% extends 'base.html' %}
{% load static %}
{% load student_tag %}

{% block title %}
    <title>我的作业</title>
{% endblock %}

{% block custom_css %}
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'my_homework' %}" class="active">我的作业</a></li>
</ol>
{% endblock %}

<!--左侧内容区域-->
{% block right_content %}
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h4>作业列表</h4>
    </div>

    <div class="panel-body" style="">
    {#  导航栏 #}
    <div class="row">
        {% for record in homework_record_list %}
        <div class="col-lg-4" style="box-shadow: 0 2px 4px 0 #d0d0d0;">
            <h4>{{ record.homework.title }}</h4>
            <p class="">状态：<span style="color: {% ifequal record.status 0 %}red{% else %}#84CC39{% endifequal %}">
                {{ record.get_status_display }}</span></p>
            <p class="">得分：<span style="color: #84CC39">{{ record.score }}分</span></p>
            <p class="">截止日期：<span>{% get_date record.homework.publish_date record.homework.suggested_complete_days %}</span></p>
            <p>学员：<span style="color: #adadad">{{ record.student.student.customer.name }}</span></p>
            <p class="desc"><a class="btn btn-success" href="{% url 'homework_detail' record.id %}"
                  role="button">详细信息 »</a></p>
        </div>
        {% endfor %}
     </div><!--/row-->
</div>
</div>
{% endblock %}



