{% extends 'base.html' %}

{% block title %}
<title>课程列表页</title>
{% endblock %}

{% block custom_css %}
    <style>
.navbar-header{
    width: 500px;
}
tbody{
    color: gray;
}
tbody a{
    color: gray;
}
.navbar-inverse .navbar-nav>li>a {
    color: #f8f8f8;
    font-size: 16px;
}
.navbar-inverse .navbar-brand {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
}
a:hover,a:link{
    text-decoration: none;
    cursor: pointer;
}
</style>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{% url 'class_list' %}">班级列表</a></li>
    </ol>
{% endblock %}

{% block right_content %}
<div class="panel panel-primary">
<div class="panel-heading">
    <h4>班级列表</h4>
</div>
<div class="panel-body" style="">
    {#  导航栏 #}
    <div class="row">
        <table class="table table-striped">

            <tbody>
                {% for class_grade in class_list %}
                <tr>
                    <td><a href="{% url 'student_list' class_grade.id %}">{{ class_grade }}</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
     </div><!--/row-->
</div>
</div>
{% endblock %}




