{% extends 'base.html' %}

{% load student_tag %}

{% block title %}
<title>待批改作业页面</title>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="">待批改作业</a></li>
</ol>
{% endblock %}

{% block right_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>待批改作业</h3>
        </div>
        <div class="panel-body" style="">
             <table class="table-striped table">
                <thead>
                     <tr>
                        <td class="col-md-1">编号</td>
                        <td class="col-md-3">名称</td>
                        <td class="col-md-1">学生</td>
                        <td class="col-md-3">班级</td>
                        <td class="col-md-3">上传日期</td>
                        <td class="col-md-1">作业</td>
                    </tr>
                </thead>
                <tbody>
                    {% for homework_record in homework_lst %}
                    <tr>
                        <td><a href="{% url 'homework_comment' homework_record.id %}">{{ homework_record.id }}</a></td>
                        <td>{{ homework_record.homework.title }}</td>
                        <td>{{ homework_record.student }}</td>
                        <td>{{ homework_record.student.student.class_grade }}</td>
                        <td>{% to_string homework_record.upload_time %}</td>

                        <!-- 获取当前作业记录 学生上传的文件名称 -->
                        {% get_file_name homework_record.id as file_name %}
                        <!-- 根据之前获取的文件名称用于下载地址的参数-->
                        <td><a href="{% if file_name %}{% url 'homework_download' homework_record.id file_name %}{% else %}#{% endif %}">下载</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}