{% extends 'base.html' %}


{% block body %}
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">CRM系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                <li><a href="">{{ request.user }}</a></li>
                <li><a href="{% url 'crm_logout' %}">退出登录</a></li>
              {% else %}
                <li><a href="{% url 'crm_login' %}">登录</a></li>
                <li><a href="{% url 'crm_register' %}">注册</a></li>
              {% endif %}
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li class="{% ifequal request.path '/crm/enroll' %}active{% endifequal %}">
                <a href="{% url 'add_student' %}">学员报名</a>
            </li>
            <li class="{% ifequal request.path '/crm/enroll' %}active{% endifequal %}">
                <a href="{% url 'add_student' %}">学员信息完善</a>
            </li>

          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}
            {% endblock %}
        </div>

      </div>
    </div>
{% endblock %}