{% extends 'crm/dashboard.html' %}
{% load staticfiles %}
{% load crm_tags %}

{% block custom_css %}
<style>
label{
    color: grey;
}
</style>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">

                <div class="panel-heading" style="font-size: 20px">Google_IT | 学员报名</div>

                <div class="panel-body">

                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">学生</label>
                            <div class="col-sm-10">
                                <select name="customer" class="form-control">
                                    <option>----------</option>
                                    {% for c in customers %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            {#    选择校区后班级对应校区的班级会自动更新      #}
                            <label for="inputEmail3" class="col-sm-2 control-label">校区</label>
                            <div class="col-sm-10">
                                 <select name="branch" class="form-control" id="branch_select">
                                    <option>----------</option>
                                     {% for b in branches %}
                                         <option value="{{ b.id }}">{{ b.name }}</option>
                                     {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">班级</label>
                            <div class="col-sm-10">
                                 <select name="class_grade" class="form-control" id="class_lst">
                                       <option>----------</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">学习顾问</label>
                            <div class="col-sm-10">
                                <select name="consultant" class="form-control">
                                    <option>----------</option>
                                    {% for con in consultants %}
                                        <option value="{{ con.id }}">{{ con.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="提交" style="float: right;margin-right: 5%">
                        </div>
                    </form>
                    <hr>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block custom_js %}
<script>
String.prototype.format= function(){
               var args = arguments;
               return this.replace(/\{(\d+)\}/g,function(s,i){
                 return args[i];
               });
        };

$('#branch_select').change(function () {
    var id = $(this).val();
    $('#class_lst [value]').remove()
    $.ajax({
        url:"/crm/get_classes/"+id+"/",
        type:'GET',
        success:function (data) {
            var ele = ""
            $.each(data,function (k,v) {
                console.log(k,v,v.id)
                html_str='<option value="{0}">{1}</option>'
                html_str=html_str.format(
                    v.id,
                    v.course__name+'('+v.semester+')期'
                );
                ele += html_str
            });
            $('#class_lst').append(ele)
        }
    })
})
</script>
{% endblock %}



